/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: Cera Pro, sans-serif;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/********/
/* body */
/********/
body {
	margin: 0;
}

/********/
/* main */
/********/
main {
	background-color: #14a2a1;
}

/**********/
/* header */
/**********/
header {
	display: flex;
  	align-items: center;
  	/* position: fixed; */
  	width: 100%;
	gap: 1em;
	background-color: white;
	padding: .5em;
}

.logo img, button img {
	width: 2.5em;
	height: auto;
	/*werkt niet*/
	/* margin-right: auto; */
}

article a img, nav ul li a img {
	width: 1.25em;
	height: auto;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	transform: translateX(-100%);
	transition: .3s;
}

/*nav ul{
	/*werkt niet*/
	/*display: flex;
	gap: 1em;
	justify-content: end;
	align-items: center;
	position: sticky;
	width: 100%;
} 

/***************/
/* anker tags */
/**************/
a {
	text-decoration: none;
	color: #111;
}

ul, ol {
	list-style: none;
}

ol :first-of-type a {
	color: #016db7;
}

/***************/
/* ... */
/**************/
.icons {
	width: 0.8em;
	height: auto;
}

/****************/
/* breadcrumbs */
/**************/
.breadcrumbs ol{
	display: flex;
	background-color: white;
	align-items: center;
}

/***************/
/* ... */
/**************/
.banner {
	width: 23.4em;
	height: auto;
}

/***************/
/* ... */
/**************/
.rondeKnoppen {
	display: inline-block;
	padding: .6em 1.25em;
	border: 2px solid #004848;
	border-radius: 1.56em;
}
